html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(47, 58, 53);
}

canvas {
    display: block;
    border: 5px solid rgb(120, 158, 135);
    position: center;
    margin: auto;
    padding: auto;
  }